<!DOCTYPE html>
<html>
	<head>
		<title>Elasticsearch + Angular Example</title>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">

		<script src="words.js"></script>
	</head>
	<!-- boot angular with the ExampleApp module -->
	<body ng-app="ExampleApp">
		<!-- attach the ExampleController to our main content -->
		<div ng-controller="ExampleController" class="container">
			<h1>Angular + Elasticsearch</h1>

			<!-- if there is an error, display its message -->
			<div ng-if="error" class="alert alert-danger" role="alert">
				{{error.message}}
			</div>

			<!-- if clusterState is available, display it as formatted json -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search</h3>
				</div>
				<div class="panel-body">
					<input type="text" ng-keypress="searchIt($event)" ng-model="search" />
					<select class="selectpicker" ng-change="model()" ng-model="selectedModel" ng-options="x for x in models"></select>
					<select class="selectpicker" ng-show="selectedModel !== 'All'" ng-change="filter()" ng-model="selectedFilter" ng-options="x for x in filters"></select>
					<br />
					<span ng-repeat="search in searches"><span ng-click="removeSearch(search)" class="label label-default">{{ search }}<span class="glyphicon glyphicon-remove"></span></span>&nbsp;</span>
					<br />
					<span ng-repeat="search in globalSearches"><span ng-click="removeGlobalSearch(search)" class="label label-default">{{ search }}<span class="glyphicon glyphicon-remove"></span></span>&nbsp;</span>
					<br />
					<div ng-show="results.services.length">
						<h3>Services</h3>
						<table class="table-striped">
							<colgroup>
								<col span="1" style="width: 20%;">
								<col span="1" style="width: 20%;">
								<col span="1" style="width: 20%;">
								<col span="1" style="width: 20%;">
								<col span="1" style="width: 20%;">
							</colgroup>
							<tr>
								<th>Name</th><th>Cluster</th><th>Status</th><th>Desired Tasks</th><th>Task Definition</th>
							</tr>
							<tr ng-repeat="service in results.services">
								<td>{{ service._source.name }}</td>
								<td>{{ service._source.cluster_name }}</td>
								<td>{{ service._source.status }}</td>
								<td>{{ service._source.desired_tasks }}</td>
								<td>{{ service._source.task_definition }}</td>
							</tr>
						</table>
					</div>
					<div ng-show="results.task_definitions.length">
						<h3>Task Definitions</h3>
						<table class="table-striped">
							<colgroup>
								<col span="1" style="width: 30%;">
								<col span="1" style="width: 30%;">
								<col span="1" style="width: 30%;">
							</colgroup>
							<tr>
								<th>Family</th><th>Revision Number</th><th>Status</th>
							</tr>
							<tr ng-repeat="result in results.task_definitions">
								<td>{{ result._source.family }}</td>
								<td>{{ result._source.revision }}</td>
								<td>{{ result._source.status }}</td>
							</tr>
						</table>
					</div>
					<div ng-show="results.tasks.length">
						<h3>Tasks</h3>
						<table class="table-striped">
							<colgroup>
								<col span="1" style="width: 25%;">
								<col span="1" style="width: 25%;">
								<col span="1" style="width: 25%;">
								<col span="1" style="width: 25%;">
							</colgroup>
							<tr>
								<th>ID</th><th>Cluster</th><th>Desired Status</th><th>Task Definition</th>
							</tr>
							<tr ng-repeat="result in results.tasks">
								<td>{{ result._source.ID }}</td>
								<td>{{ result._source.cluster_name }}</td>
								<td>{{ result._source.desired_status }}</td>
								<td>{{ result._source.task_definition }}</td>
							</tr>
						</table>
					</div>
					<div ng-show="results.instances.length">
						<h3>Instances</h3>
						<table class="table-striped">
							<colgroup>
								<col span="1" style="width: 14%;">
								<col span="1" style="width: 14%;">
								<col span="1" style="width: 14%;">
								<col span="1" style="width: 14%;">
								<col span="1" style="width: 14%;">
								<col span="1" style="width: 14%;">
								<col span="1" style="width: 14%;">
							</colgroup>
							<tr>
								<th>ID</th><th>EC2 ID</th><th>Cluster</th><th>Instance Type</th><th>Availibility Zone</th><th>Docker Version</th><th>Agent Version</th>
							</tr>
							<tr ng-repeat="result in results.instances">
								<td>{{ result._source.ID }}</td>
								<td>{{ result._source.EC2_ID }}</td>
								<td>{{ result._source.cluster_name }}</td>
								<td>{{ result._source.instance_type }}</td>
								<td>{{ result._source.availability_zone }}</td>
								<td>{{ result._source.docker_version }}</td>
								<td>{{ result._source.agent_version }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div ng-controller="CreateController" class="container">
			<h1>Create Stuff</h1>

			<div ng-if="error" class="alert alert-danger" role="alert">
				{{error.message}}
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
					<button id="create" ng-click='create()' class="btn btn-primary">
						Fill Database
					</button></h3>
				</div>
				<div class="panel-body">
					<ul class="list">
						<li class="list-item" ng-repeat="response in responses">
							{{ response }}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- include npm modules in proper order -->
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/elasticsearch-browser/elasticsearch.angular.min.js"></script>

		<script src="node_modules/jquery/dist/jquery.js"></script>

		<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

		<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

		<!-- app code starts is here -->

		<script>
			// App module
			//
			// The app module will contain all of the components the app needs (directives,
			// controllers, services, etc.). Since it will be using the components within
			// the elasticsearch module, define it a dependency.
			var ExampleApp = angular.module('ExampleApp', ['elasticsearch', 'ui.bootstrap']);

			// Service
			//
			// esFactory() creates a configured client instance. Turn that instance
			// into a service so that it can be required by other parts of the application
			ExampleApp.service('client', function(esFactory) {
				return esFactory({
					host : 'localhost:9200',
					apiVersion : '2.3',
					log : 'trace'
				});
			});

			// Controller
			//
			// It requires the "client" service, and fetches information about the server,
			// it adds either an error or info about the server to $scope.
			//
			// It also requires the esFactory to that it can check for a specific type of
			// error which might come back from the client
			ExampleApp.controller('ExampleController', function($scope, client, esFactory) {
				// metric: [
				// 'cluster_name',
				// 'nodes',
				// 'master_node',
				// 'version'
				// ]

				$scope.models = ['All', 'Service', "Instance", "Task Definition", "Task"];
				$scope.selectedModel = 'All';
				$scope.searches = [];
				$scope.globalSearches = [];

				$scope.searchIt = function(keyEvent) {
					if (keyEvent.which === 13) {
						if ($scope.selectedModel !== 'All' && $scope.selectedFilter != undefined) {
							$scope.searches.push($scope.selectedFilter + ":" + $scope.search);
							$scope.search = "";

							clearResults();
							searchES($scope.selectedModel, $scope.searches);
						} else if ($scope.selectedModel !== 'All') {
							$scope.globalSearches.push($scope.selectedModel + ":" + $scope.search);
							$scope.search = "";

							clearResults();
							searchGlobal();
						} else {
							$scope.globalSearches.push($scope.search);
							$scope.search = "";

							clearResults();
							searchGlobal();
						}
					}
				}
				var filter_option_to_query = {
					"cluster" : "cluster_name",
					"desired tasks" : "desired_tasks",
					"instance type" : "instance_type",
					"availability zone" : "availability_zone",
					"docker version" : "docker_version",
					"agent version" : "agent_version",
					"revision number" : "revision",
					"desired status" : "desired_status",
					"task_definition" : "task_definition"
				}

				function clearResults() {
					$scope.results = {
						services : [],
						instances : [],
						tasks : [],
						task_definitions : []
					}
				}

				clearResults();
				//initilize

				function searchGlobal() {
					var searches = []
					$scope.globalSearches.forEach(function(val) {
						if (val.contains(":")) {
							var pieces = val.split(":");
							searches.push(pieces[1]);
						} else {
							searches.push(val);
						}
					});
					console.log("search terms:");
					console.log(searches);
					var queries = [];
					
					if ($scope.selectedModel === 'All') {
						queries = prepareQueries("Service", searches);
						queries = queries.concat($scope.searches);
						console.log(queries);
						searchES("Service", queries);
						
						queries = prepareQueries("Task", searches);
						queries = queries.concat($scope.searches);
						console.log(queries);
						searchES("Task", queries);
						
						queries = prepareQueries("Instance", searches);
						queries = queries.concat($scope.searches);
						console.log(queries);
						searchES("Instance", queries);
						
						queries = prepareQueries("Task Definition", searches);
						queries = queries.concat($scope.searches);
						console.log(queries);
						searchES("Task Definition", queries);
					
					} else {
						queries = prepareQueries($scope.selectedModel, searches);
						queries = queries.concat($scope.searches);
						
						console.log(queries);
						searchES($scope.selectedModel, queries);
					}
					

				}
				
				function prepareQueries(modelType, queries) {
					var matches = [];
					
					function helper(queries, fields) {
						var matches = [];
						queries.forEach(function (val) {
							fields.forEach(function (field) {
								matches.push(field+":"+val);
							});
						});
						return matches;
					}
					
					if (modelType === "Service") {
						matches = helper(queries, ["ID", "name"]);	
					} else if (modelType === "Instance") {
						matches = helper(queries, ["ID", "EC2_ID"]);	
					} else if (modelType === "Task Definition") {
						matches = helper(queries, ["family", "revision"]);
					} else if (modelType === "Task") {
						matches = helper(queries, ["ID", "task_definition"]);
					}
					
					return matches;
					
					
				}

				function searchES(modelOption, filters) {
					var models = {
						Service : "service",
						Instance : "instance",
						"Task Definition" : "task_definition",
						Task : "task"
					}

					var model = models[modelOption];
					if (model !== undefined) {
						var matches = [];
						filters.forEach(function(val) {
							var pieces = val.split(":");
							var match = {
								match : {}
							};

							var val;
							if (pieces[0] in filter_option_to_query) {
								val = filter_option_to_query[pieces[0]];
							} else {
								val = pieces[0];
							}

							match.match[val] = pieces[1];
							matches.push(match);
						});

						client.search({
							index : "test_index6",
							type : model,
							body : {
								query : {
									bool : {
										should : matches
									}
								}
							}
						}).then(function(resp) {
							console.log(resp);
							resp.hits.hits.forEach(function(val) {
								if (val._type == 'instance') {
									$scope.results.instances.push(val);
								} else if (val._type == 'service') {
									$scope.results.services.push(val);
								} else if (val._type == 'task_definition') {
									$scope.results.task_definitions.push(val);
								} else if (val._type == 'task') {
									$scope.results.tasks.push(val);
								}
							});

							result = $scope.results;
							$scope.error = null;
						}).catch(function(err) {
							$scope.clusterState = null;
							$scope.error = err;

							// if the err is a NoConnections error, then the client was not able to
							// connect to elasticsearch. In that case, create a more detailed error
							// message
							if ( err instanceof esFactory.errors.NoConnections) {
								$scope.error = new Error('Unable to connect to elasticsearch. ' + 'Make sure that it is running and listening at http://localhost:9200');
							}
						});
					}
				}


				$scope.removeSearch = function(search) {
					var index = $scope.searches.indexOf(search);
					if (index > -1) {
						$scope.searches.splice(index, 1);

						if ($scope.searches.length == 0) {
							clearResults();
						} else {
							clearResults();
							searchES($scope.selectedModel, $scope.searches);
						}
					}
				}

				$scope.removeGlobalSearch = function(search) {
					var index = $scope.globalSearches.indexOf(search);
					if (index > -1) {
						$scope.globalSearches.splice(index, 1);

						if ($scope.globalSearches.length == 0) {
							clearResults();
						} else {
							clearResults();
							searchGlobal();
						}
					}
				}

				$scope.filter = function() {

				}
				var filter_options = {
					All : [],
					Service : ["ID", "name", "cluster", "status", "desired tasks", "task definition"],
					Instance : ["ID", "EC2_ID", "cluster", "instance type", "availability zone", "docker version", "agent version"],
					"Task Definition" : ["family", "revision number", "status", "container name", "container image"],
					Task : ["ID", "cluster", "desired status", "task definition", "accountID"]
				}

				$scope.model = function() {
					console.log($scope.selectedModel);
					console.log(filter_options[$scope.selectedModel]);
					$scope.filters = filter_options[$scope.selectedModel];

					$scope.searches = [];

					var deleteThese = [];

					for (var a = 0; a < $scope.globalSearches.length; a++) {
						var s = $scope.globalSearches[a];
						console.log(s);
						if (s.contains(":") && !s.contains($scope.selectedModel)) {
							deleteThese.push(s);
						}
					}

					deleteThese.forEach(function(val) {
						var index = $scope.globalSearches.indexOf(val);
						$scope.globalSearches.splice(index, 1);
					});
					
					if ($scope.selectedFilter === undefined) {
						// the modelType has changed
						clearResults();
						searchGlobal();
					}
				}
			});

			ExampleApp.controller('CreateController', function($scope, client, esFactory) {
				var index = 'test_index6';

				function createTaskDefinition(ID, family, revision, accountID, status, jsonBlob, containers) {
					console.log(arguments);
					client.create({
						index : index,
						type : 'task_definition',
						id : ID,
						body : {
							family : family,
							revision : revision,
							accountID : accountID,
							status : status,
							jsonBlob : JSON.stringify(jsonBlob),
							containers : containers
						}
					}, function(error, response) {
						$scope.responses.push(JSON.stringify(error) + String(Math.random()));
						$scope.responses.push(JSON.stringify(response) + String(Math.random()));
						if ($scope.responses.length > 10) {
							$scope.responses.shift();
							$scope.responses.shift();
						}
					});
				}

				function createService(ID, name, cluster_name, status, desired_tasks, task_definition, accountID) {
					console.log(arguments);
					client.create({
						index : index,
						type : 'service',
						id : ID,
						body : {
							ID : ID,
							name : name,
							cluster_name : cluster_name,
							status : status,
							desired_tasks : desired_tasks,
							task_definition : task_definition,
							accountID : accountID
						}
					}, function(error, response) {
						$scope.responses.push(JSON.stringify(error) + String(Math.random()));
						$scope.responses.push(JSON.stringify(response) + String(Math.random()));
						if ($scope.responses.length > 10) {
							$scope.responses.shift();
							$scope.responses.shift();
						}
					});
				}

				function createTask(ID, cluster_name, desired_status, task_definition, accountID) {
					console.log(arguments);
					client.create({
						index : index,
						type : 'task',
						id : ID,
						body : {
							ID : ID,
							cluster_name : cluster_name,
							desired_status : desired_status,
							task_definition : task_definition,
							accountID : accountID
						}
					}, function(error, response) {
						$scope.responses.push(JSON.stringify(error) + String(Math.random()));
						$scope.responses.push(JSON.stringify(response) + String(Math.random()));
						if ($scope.responses.length > 10) {
							$scope.responses.shift();
							$scope.responses.shift();
						}
					});
				}

				function createInstance(ID, EC2_ID, cluster_name, accountID, instance_type, availability_zone, docker_version, agent_version) {
					console.log(arguments);
					client.create({
						index : index,
						type : 'instance',
						id : ID,
						body : {
							ID : ID,
							EC2_ID : EC2_ID,
							cluster_name : cluster_name,
							accountID : accountID,
							instance_type : instance_type,
							availability_zone : availability_zone,
							docker_version : docker_version,
							agent_version : agent_version
						}
					}, function(error, response) {
						$scope.responses.push(JSON.stringify(error) + String(Math.random()));
						$scope.responses.push(JSON.stringify(response) + String(Math.random()));
						if ($scope.responses.length > 10) {
							$scope.responses.shift();
							$scope.responses.shift();
						}
					});
				}

				function getWord(i) {
					var word = window.words[i % 399];
					return word.trim();
				}

				function capFirst(string) {
					return string.charAt(0).toUpperCase() + string.slice(1);
				}


				$scope.responses = [];
				$scope.create = function() {

					console.log("create");

					function generateUUID() {
						var d = new Date().getTime();
						if (window.performance && typeof window.performance.now === "function") {
							d += performance.now();
							//use high-precision timer if available
						}
						var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
							var r = (d + Math.random() * 16) % 16 | 0;
							d = Math.floor(d / 16);
							return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
						});
						return uuid;
					}

					var yes = true;

					if (yes || confirm("Are You Sure?")) {
						//(ID, family, revision, accountID, status, jsonBlob, containers)

						yes = true;
						var accountID = 11;

						var flipflop = true;

						// // Create Some Task Definitions

						var i = Math.floor(Math.random() * (new Date()).getTime() % 1111);
						console.log("___");
						console.log(i);
						console.log(getWord(i));
						console.log("___");

						createTaskDefinition(generateUUID(), getWord(i) + capFirst(getWord(i * i)), 1, accountID, flipflop, {
							cats : true
						}, [{
							name : getWord(i),
							image : getWord(i)
						}]);

						// Clusters
						var clusters = ["wesleyCluster", "webService", "fileServer", "pool"];
						var i_types = ["t2.nano", "t2.micro", "t2.small", "t2.medium", "t2.large", "m4.large", "m4.xlarge", "c4.large", "g2.2xlarge", "r3.xlarge", "i2.8xlarge"];

						// Create some services

						createService(generateUUID(), getWord(i) + capFirst(getWord(i * i)), clusters[i % 4], flipflop, i, getWord(i) + capFirst(getWord(i * i)) + ":" + (i % 10), accountID);

						//  create a ton of tasks

						createTask(generateUUID(), clusters[i % 4], "RUNNING", getWord(i) + capFirst(getWord(i * i)) + ":" + (i % 10), accountID);

						// create tons of instances

						var zones = ["us-west-2a", "us-west-2b", "us-west-2c"];

						createInstance(generateUUID(), "i-" + generateUUID(), clusters[i % 4], accountID, i_types[i % (i_types.length)], zones[i % 3], "2.0", "1.9");

					}
				}
			});
		</script>
	</body>
</html>
